# Environnement virtuel
venv/
env/
ENV/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de log
*.log
*.out

# Fichiers temporaires
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db


# SQLite DB files (si jamais tu utilises SQLite pour dev)
*.sqlite3
*.db

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter (si tu utilises des notebooks dans ton projet Flask)
.ipynb_checkpoints

# fichiers coverage/test
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
pytestdebug.log

# Distribution
build/
dist/
*.egg-info/
.eggs/
